Repository ibexa/documentation-developer, pull requests merged in 2023-04, with the labels that each got.

#1945 March 2023 new in doc
  docs/resources/new_in_doc.md
Labels: Ready for MERGE

#1948 Updated screenshpots for Creating a Point 2D Field Type tutorial
  docs/tutorials/generic_field_type/img/create_new_content_type.png
  docs/tutorials/generic_field_type/img/creating_new_point2d.png
  docs/tutorials/generic_field_type/img/field_definition_format_field.png
  docs/tutorials/generic_field_type/img/menu_point2d.png
  docs/tutorials/generic_field_type/img/new_field_definition.png
  docs/tutorials/generic_field_type/img/new_point2d.png
  docs/tutorials/generic_field_type/img/point2d_field_definition.png
  docs/tutorials/generic_field_type/img/point2d_validation.png
Labels: Ready for MERGE

#1949 IBX-5317 - Order search clauses and sort queries
  docs/search/criteria_reference/order_company_associated_criterion.md
  docs/search/criteria_reference/order_company_name_criterion.md
  docs/search/criteria_reference/order_created_criterion.md
  docs/search/criteria_reference/order_currency_code_criterion.md
  docs/search/criteria_reference/order_customer_name_criterion.md
  docs/search/criteria_reference/order_identifier_criterion.md
  docs/search/criteria_reference/order_price_criterion.md
  docs/search/criteria_reference/order_search_criteria.md
  docs/search/criteria_reference/order_source_criterion.md
  docs/search/criteria_reference/order_status_criterion.md
  docs/search/sort_clause_reference/order_created_sort_clause.md
  docs/search/sort_clause_reference/order_id_sort_clause.md
  docs/search/sort_clause_reference/order_sort_clauses.md
  docs/search/sort_clause_reference/order_status_sort_clause.md
  docs/search/sort_clause_reference/order_updated_sort_clause.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#1960 Fix order criteria and clauses reference
  docs/search/criteria_reference/order_company_associated_criterion.md
  docs/search/criteria_reference/order_company_name_criterion.md
  docs/search/criteria_reference/order_created_criterion.md
  docs/search/criteria_reference/order_currency_code_criterion.md
  docs/search/criteria_reference/order_customer_name_criterion.md
  docs/search/criteria_reference/order_identifier_criterion.md
  docs/search/criteria_reference/order_price_criterion.md
  docs/search/criteria_reference/order_search_criteria.md
  docs/search/criteria_reference/order_source_criterion.md
  docs/search/criteria_reference/order_status_criterion.md
  docs/search/sort_clause_reference/order_created_sort_clause.md
  docs/search/sort_clause_reference/order_id_sort_clause.md
  docs/search/sort_clause_reference/order_status_sort_clause.md
  docs/search/sort_clause_reference/order_updated_sort_clause.md
Labels: Ready for MERGE

#1959 IBX-5086: Implemented CorporateAccountService::createCompany facade
  docs/api/php_api/php_api.md
Labels: Ready for MERGE

#1962 custom.js: Fix page TOC/hash bug
  docs/js/custom.js
Labels: Ready for MERGE

#1947 IBX-4962: React App page block added
  docs/content_management/img/calculator.png
  docs/content_management/pages/react_app_block.md
  mkdocs.yml
Labels: Needs DOC review

#1961 Remove statement that Symfony Reverse Proxy is required when setting TrustedProxies
  docs/guide/cache/symfony_reverse_proxy.md
Labels: Ready for MERGE

#1965 Removed link to outdated presentation
  docs/api/php_api/php_api.md
Labels: Ready for MERGE

#1954 IBX-5283 Shipment search
  docs/search/criteria_reference/shipment_createdat_criterion.md
  docs/search/criteria_reference/shipment_currency_criterion.md
  docs/search/criteria_reference/shipment_id_criterion.md
  docs/search/criteria_reference/shipment_identifier_criterion.md
  docs/search/criteria_reference/shipment_logicaland_criterion.md
  docs/search/criteria_reference/shipment_logicalor_criterion.md
  docs/search/criteria_reference/shipment_search_criteria.md
  docs/search/criteria_reference/shipment_shipping_method_criterion.md
  docs/search/criteria_reference/shipment_status_criterion.md
  docs/search/criteria_reference/shipment_updatedat_criterion.md
  docs/search/sort_clause_reference/shipment_createdat_sort_clause.md
  docs/search/sort_clause_reference/shipment_id_sort_clause.md
  docs/search/sort_clause_reference/shipment_identifier_sort_clause.md
  docs/search/sort_clause_reference/shipment_sort_clauses.md
  docs/search/sort_clause_reference/shipment_status_sort_clause.md
  docs/search/sort_clause_reference/shipment_updatedat_sort_clause.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#1950 IBX 5283 - Describe shipping management
  code_samples/api/commerce/src/Command/ShipmentCommand.php
  code_samples/api/commerce/src/Command/ShippingMethodCommand.php
  code_samples/front/shop/shipping_management/config/packages/ibexa.yaml
  docs/commerce/commerce.md
  docs/commerce/order_management/order_management.md
  docs/commerce/shipping_management/configure_shipment.md
  docs/commerce/shipping_management/shipment_api.md
  docs/commerce/shipping_management/shipping_management.md
  docs/commerce/shipping_management/shipping_method_api.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#1940 IBX-5065: Product aggregations
  docs/search/aggregation_reference/aggregation_reference.md
  docs/search/aggregation_reference/product_attribute_aggregations.md
  docs/search/aggregation_reference/productavailabilityterm_aggregation.md
  docs/search/aggregation_reference/productpricerange_aggregation.md
  docs/search/aggregation_reference/producttypeterm_aggregation.md
  docs/search/aggregation_reference/taxonomyentryid_aggregation.md
  mkdocs.yml
Labels: Ready for MERGE

#1969 Rename checkout refs in shipping documentation
  code_samples/api/commerce/src/Command/ShipmentCommand.php
  code_samples/api/commerce/src/Command/ShippingMethodCommand.php
  code_samples/front/shop/shipping/config/packages/ibexa.yaml
  docs/commerce/shipping_management/configure_shipment.md
  docs/commerce/shipping_management/shipment_api.md
  docs/commerce/shipping_management/shipping_management.md
  docs/commerce/shipping_management/shipping_method_api.md
  docs/search/criteria_reference/shipment_createdat_criterion.md
  docs/search/criteria_reference/shipment_currency_criterion.md
  docs/search/criteria_reference/shipment_id_criterion.md
  docs/search/criteria_reference/shipment_identifier_criterion.md
  docs/search/criteria_reference/shipment_logicaland_criterion.md
  docs/search/criteria_reference/shipment_logicalor_criterion.md
  docs/search/criteria_reference/shipment_shipping_method_criterion.md
  docs/search/criteria_reference/shipment_status_criterion.md
  docs/search/criteria_reference/shipment_updatedat_criterion.md
  docs/search/sort_clause_reference/shipment_createdat_sort_clause.md
  docs/search/sort_clause_reference/shipment_id_sort_clause.md
  docs/search/sort_clause_reference/shipment_identifier_sort_clause.md
  docs/search/sort_clause_reference/shipment_status_sort_clause.md
  docs/search/sort_clause_reference/shipment_updatedat_sort_clause.md
Labels: Needs DOC review

#1957 IBX-5556: Created more generic configuration scheme for data transports
  docs/cdp/cdp_activation.md
Labels: Ready for MERGE

#1973 IBX-5281 - Describe order processing workflow
  code_samples/front/shop/order-management/config/packages/ibexa.yaml
  docs/commerce/commerce.md
  docs/commerce/order_management/configure_order_management.md
  docs/commerce/order_management/order_management_api.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#1974 IBX-5416 - Add ShipmentOwner OrderOwner limitation
  docs/permissions/limitation_reference.md
  docs/permissions/limitations.md
  docs/permissions/permission_use_cases.md
Labels: Needs DOC review, Needs DEV review

#1976 IBX-5446 - Product stock reduction/restoration
  docs/commerce/order_management/configure_order_management.md
Labels: Needs DOC review, Needs DEV review

#1955 IBX-5309 - Payment search criteria and sort clauses doc
  docs/search/criteria_reference/payment_createdat_criterion.md
  docs/search/criteria_reference/payment_currency_criterion.md
  docs/search/criteria_reference/payment_id_criterion.md
  docs/search/criteria_reference/payment_identifier_criterion.md
  docs/search/criteria_reference/payment_logicaland_criterion.md
  docs/search/criteria_reference/payment_logicalor_criterion.md
  docs/search/criteria_reference/payment_method_createdat_criterion.md
  docs/search/criteria_reference/payment_method_enabled_criterion.md
  docs/search/criteria_reference/payment_method_id_criterion.md
  docs/search/criteria_reference/payment_method_identifier_criterion.md
  docs/search/criteria_reference/payment_method_logicaland_criterion.md
  docs/search/criteria_reference/payment_method_logicalor_criterion.md
  docs/search/criteria_reference/payment_method_search_criteria.md
  docs/search/criteria_reference/payment_method_type_criterion.md
  docs/search/criteria_reference/payment_method_updatedat_criterion.md
  docs/search/criteria_reference/payment_order_criterion.md
  docs/search/criteria_reference/payment_payment_method_criterion.md
  docs/search/criteria_reference/payment_search_criteria.md
  docs/search/criteria_reference/payment_status_criterion.md
  docs/search/criteria_reference/payment_updatedat_criterion.md
  docs/search/sort_clause_reference/payment_createdat_sort_clause.md
  docs/search/sort_clause_reference/payment_id_sort_clause.md
  docs/search/sort_clause_reference/payment_identifier_sort_clause.md
  docs/search/sort_clause_reference/payment_method_createdat_sort_clause.md
  docs/search/sort_clause_reference/payment_method_enabled_sort_clause.md
  docs/search/sort_clause_reference/payment_method_id_sort_clause.md
  docs/search/sort_clause_reference/payment_method_identifier_sort_clause.md
  docs/search/sort_clause_reference/payment_method_sort_clauses.md
  docs/search/sort_clause_reference/payment_method_updatedat_sort_clause.md
  docs/search/sort_clause_reference/payment_sort_clauses.md
  docs/search/sort_clause_reference/payment_status_sort_clause.md
  docs/search/sort_clause_reference/payment_updatedat_sort_clause.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#1977 IBX-5416 - Add owner limitation disclaimer
  docs/permissions/permission_use_cases.md
Labels: Needs DOC review

#1966 IBX-5309 - Describe Payment module
  code_samples/api/commerce/src/Command/PaymentCommand.php
  code_samples/api/commerce/src/Command/PaymentMethodCommand.php
  code_samples/front/shop/payment/config/packages/ibexa.yaml
  docs/commerce/commerce.md
  docs/commerce/payment/configure_payment.md
  docs/commerce/payment/payment.md
  docs/commerce/payment/payment_api.md
  docs/commerce/payment/payment_method_api.md
  mkdocs.yml
  plugins.yml
Labels: Needs DEV review
