Repository ibexa/documentation-developer, pull requests merged in 2024-11, with the labels that each got.

#2532 REST API usage typo fix
  docs/api/rest_api/rest_api_usage/rest_requests.md
Labels: Needs DEV review

#2531 New in doc: November 24
  docs/api/rest_api/rest_api_authentication.md
  docs/content_management/data_migration/data_migration_actions.md
  docs/content_management/data_migration/managing_migrations.md
  docs/content_management/pages/create_custom_page_block.md
  docs/ibexa_products/ibexa_commerce.md
  docs/ibexa_products/ibexa_experience.md
  docs/infrastructure_and_maintenance/cache/http_cache/reverse_proxy.md
  docs/personalization/api_reference/recommendation_api.md
  docs/personalization/enable_personalization.md
  docs/personalization/integrate_recommendation_service.md
  docs/personalization/tracking_integration.md
  docs/personalization/tracking_with_ibexa-tracker.md
  docs/pim/product_api.md
  docs/product_guides/product_guides.md
  docs/resources/new_in_doc.md
  docs/update_and_migration/from_2.5/to_3.3.md
  docs/update_and_migration/from_3.3/to_4.0.md
  docs/update_and_migration/from_3.3/update_from_3.3.md
  docs/update_and_migration/from_4.3/update_from_4.3_new_commerce.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
Labels: Needs DOC review

#2527 IBX-8823: Manage user data from CLI
  docs/users/update_basic_user_data.md
  docs/users/users.md
  mkdocs.yml
Labels: Needs DOC review

#2473 IBX-8689: AI Actions documentation
  code_samples/ai_actions/config/mysql/add_ai_actions.sql
  code_samples/ai_actions/config/postgresql/add_ai_actions.sql
  docs/ai_actions/ai_actions.md
  docs/ai_actions/ai_actions_guide.md
  docs/ai_actions/extend_ai_actions.md
  docs/ai_actions/img/ai_actions_list.png
  docs/ai_actions/img/ai_assistant.png
  docs/ai_actions/img/alt_text_use_ai.png
  docs/ai_actions/img/diagram_source/AI Actions.drawio
  docs/ai_actions/img/guide_ai_actions.png
  docs/ai_actions/install_ai_actions.md
  docs/index.md
  docs/pim/pim_guide.md
  docs/release_notes/ibexa_dxp_v4.6.md
  mkdocs.yml
Labels: Ready for MERGE

#2545 IBX-8726: `IsBookmarked` search criterion added
  code_samples/search/location/isbookmarked_criterion.php
  docs/search/criteria_reference/isbookmarked_criterion.md
  docs/search/criteria_reference/search_criteria_reference.md
  mkdocs.yml
Labels: Needs DOC review

#2549 PHP API Reference Fixes
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ActivityLog-Values-ActivityLog-ActivityGroupListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Cart-Value-CartListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Checkout-Value-PaymentMethod-PaymentMethodListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-CorePersistence-Gateway-AbstractTranslationGateway.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Measurement-Product-Query-Criterion-AbstractMeasurementAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-OrderManagement-Value-Order-OrderListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Personalization-Value-ItemGroupListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Personalization-Value-ItemListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-AttributeDefinition-AttributeDefinitionListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-AttributeDefinition-AttributeDefinitionQuery.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-AttributeGroup-AttributeGroupListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Catalog-CatalogListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Common-Query-AbstractCriterionQuery.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Common-Query-CriterionMapperInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Currency-CurrencyListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-CustomerGroup-CustomerGroupListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Price-PriceListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-ProductListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-ProductVariantListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-Query-Criterion-CheckboxAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-Query-Criterion-ColorAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-Query-Criterion-FloatAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-Query-Criterion-IntegerAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Product-Query-Criterion-SelectionAttribute.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-ProductType-ProductTypeListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-Region-RegionListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-ProductCatalog-Values-VatCategory-VatCategoryListInterface.html
  docs/api/php_api/php_api_reference/classes/Ibexa-Contracts-Shipping-Value-ShippingMethod-ShippingMethodListInterface.html
  docs/api/php_api/php_api_reference/css/base.css
  tools/php_api_ref/.phpdoc/template/components/tags.html.twig
  tools/php_api_ref/.phpdoc/template/css/base.css.twig
Labels: Ready for MERGE

#2544 ContentService::loadRelations → ContentService::loadRelationList
  code_samples/api/public_php_api/src/Command/ViewContentMetaDataCommand.php
  code_samples/front/embed_content/src/Controller/RelationController.php
  docs/content_management/content_api/browsing_content.md
  tools/code_samples/code_samples_usage_diff2html.php
Labels: Ready for MERGE

#2551 Added Form Uploads warning
  docs/infrastructure_and_maintenance/security/security_checklist.md
Labels: Needs DOC review

#2553 Update doc for 4.6.14 and 3.3.41
  docs/update_and_migration/from_3.3/update_from_3.3.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
  mkdocs.yml
Labels: Needs DOC review, Wait with merge

#2555 Cards fix
  docs/getting_started/install_ibexa_dxp.md
  docs/ibexa_cloud/ddev_and_ibexa_cloud.md
  docs/ibexa_cloud/ibexa_cloud_guide.md
  docs/ibexa_cloud/install_on_ibexa_cloud.md
  docs/release_notes/ibexa_dxp_v3.2.md
  docs/release_notes/ibexa_dxp_v3.3.md
  docs/release_notes/ibexa_dxp_v4.0.md
  docs/release_notes/ibexa_dxp_v4.0_deprecations.md
  docs/release_notes/ibexa_dxp_v4.1.md
  docs/release_notes/ibexa_dxp_v4.2.md
  docs/release_notes/ibexa_dxp_v4.3.md
  docs/release_notes/ibexa_dxp_v4.4.md
  docs/release_notes/ibexa_dxp_v4.5.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/resources/phpstorm_plugin.md
  docs/resources/release_process_and_roadmap.md
Labels: Needs DOC review

#2556 Fixed affected package names
  docs/update_and_migration/from_3.3/update_from_3.3.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
Labels: Needs DOC review

#1860 IBX-4064: Search page
  docs/css/instantsearch.css
  docs/css/search.css
  docs/images/caret-back.svg
  docs/images/caret-double-back.svg
  docs/images/caret-double-next.svg
  docs/images/caret-next.svg
  docs/images/ez-icons.svg
  docs/js/custom.js
  docs/js/instantsearch.js
  docs/search_results.md
  mkdocs.yml
  theme/instantsearch.html
Labels: Ready for MERGE
