Repository ibexa/documentation-developer, pull requests merged in 2024-08, with the labels that each got.

#2451 Migrations: fixed typo
  docs/content_management/data_migration/exporting_data.md
Labels: Needs DOC review

#2450 IBX-8478: Repository-aware migration directory
  docs/content_management/data_migration/managing_migrations.md
Labels: Needs DOC review

#2452 Update importing_assets_from_bundle.md
  docs/administration/back_office/back_office_elements/importing_assets_from_bundle.md
Labels: Needs DOC review

#2454 Updated doc after the 3.3.39 and 4.6.9 releases
  docs/update_and_migration/from_4.5/update_from_4.5.md
  mkdocs.yml
Labels: Needs DOC review

#2453 Update changelog for July 2024
  docs/administration/dashboard/configure_default_dashboard.md
  docs/api/php_api/php_api.md
  docs/content_management/data_migration/importing_data.md
  docs/content_management/data_migration/managing_migrations.md
  docs/ibexa_cloud/ibexa_cloud.md
  docs/ibexa_cloud/ibexa_cloud_guide.md
  docs/ibexa_cloud/install_on_ibexa_cloud.md
  docs/ibexa_engage/create_campaign.md
  docs/ibexa_engage/install_ibexa_engage.md
  docs/ibexa_engage/integrate_ibexa_connect.md
  docs/resources/new_in_doc.md
  docs/search/criteria_reference/contentname_criterion.md
  docs/search/search_engines/elastic_search/configure_elastic_search.md
Labels: Needs DOC review

#2462 [Importing assets] Fixed JS samples
  docs/administration/back_office/back_office_elements/importing_assets_from_bundle.md
Labels: Needs DEV review

#2457 Add edition pills to recent activity update instructions
  docs/update_and_migration/from_4.5/update_from_4.5.md
Labels: Needs DOC review

#2448 IBX-8493: Ibexa Experience Product guide
  docs/ibexa_products/editions.md
  docs/ibexa_products/experience.md
  docs/ibexa_products/img/cdp.drawio
  docs/ibexa_products/img/cdp.png
  docs/ibexa_products/img/customizable_dashboard.drawio
  docs/ibexa_products/img/customizable_dashboard.png
  docs/ibexa_products/img/form_builder.drawio
  docs/ibexa_products/img/form_builder.png
  docs/ibexa_products/img/ibexa_engage.drawio
  docs/ibexa_products/img/ibexa_engage.png
  docs/ibexa_products/img/page_builder.png
  docs/ibexa_products/img/segments.drawio
  docs/ibexa_products/img/segments.png
  mkdocs.yml
Labels: Needs DOC review

#2459 Document hiding taxonomy menu item
  code_samples/taxonomy/config/packages/ibexa_taxonomy.yaml
  docs/content_management/taxonomy/taxonomy.md
Labels: Needs DOC review

#2463 'Experience/Commerce' label added
  docs/administration/admin_panel/segments_admin_panel.md
  docs/cdp/cdp.md
  docs/cdp/cdp_activation/cdp_activation.md
  docs/cdp/cdp_activation/cdp_add_clientside_tracking.md
  docs/cdp/cdp_activation/cdp_configuration.md
  docs/cdp/cdp_activation/cdp_data_export.md
  docs/cdp/cdp_data_customization.md
  docs/cdp/cdp_data_export_schedule.md
  docs/cdp/cdp_guide.md
  docs/cdp/cdp_installation.md
Labels: Needs DOC review

#2461 Adjust code samples after deprecations removal in v5
  code_samples/back_office/dashboard/article_tab/src/Tab/Dashboard/Everyone/EveryoneArticleTab.php
  code_samples/back_office/limitation/src/Security/Limitation/Mapper/CustomLimitationFormMapper.php
Labels: Needs DEV review

#2465 [CDP] Corrected configuration
  docs/cdp/cdp_activation/cdp_configuration.md
Labels: Needs DOC review

#2467 Release 3.3.40 and 4.6.10
  docs/update_and_migration/from_3.3/update_from_3.3.md
  docs/update_and_migration/from_4.5/update_from_4.5.md
  mkdocs.yml
Labels: Needs DOC review

#2469 Headless product guide: Remove repeated word
  docs/ibexa_products/headless.md
Labels: Ready for MERGE

#2471 Corrected links to Focus Mode
  docs/getting_started/first_steps.md
  docs/tutorials/beginner_tutorial/2_create_the_content_model.md
Labels: Needs DOC review

#2460 IBX-8686: Ibexa Commerce Product Guide added in Developer Documentation
  docs/ibexa_products/ibexa_commerce.md
  docs/ibexa_products/img/ecommerce.png
  docs/ibexa_products/img/ibexa_commerce.png
  docs/ibexa_products/img/order_management.png
  docs/ibexa_products/img/payment_management.png
  docs/ibexa_products/img/shipping_management.png
  mkdocs.yml
Labels: Needs DOC review

#2477 Fixed Edition switcher in the install page
  docs/getting_started/install_ez_platform.md
Labels: Needs DOC review

#2474 [Custom Attribute type] Corrected StorageSchema import
  code_samples/catalog/custom_attribute_type/src/Attribute/Percent/Storage/PercentStorageConverter.php
Labels: Needs DEV review

#2479 IBX-8590: Reorganizing documentation in terms of Product Guides
  docs/cdp/cdp_guide.md
  docs/content_management/content_management.md
  docs/content_management/content_management_guide.md
  docs/content_management/field_types/field_type_reference/formfield.md
  docs/content_management/forms/form_api.md
  docs/content_management/forms/form_builder_guide.md
  docs/content_management/forms/forms.md
  docs/content_management/forms/work_with_forms.md
  docs/content_management/pages/page_builder_guide.md
  docs/content_management/pages/pages.md
  docs/content_management/rich_text/online_editor_guide.md
  docs/content_management/rich_text/rich_text.md
  docs/customer_management/customer_portal.md
  docs/customer_management/customer_portal_guide.md
  docs/ibexa_cloud/ibexa_cloud_guide.md
  docs/ibexa_products/editions.md
  docs/ibexa_products/ibexa_commerce.md
  docs/ibexa_products/ibexa_experience.md
  docs/ibexa_products/ibexa_headless.md
  docs/ibexa_products/img/ibexa_experience.png
  docs/ibexa_products/img/ibexa_headless.png
  docs/infrastructure_and_maintenance/cache/http_cache/reverse_proxy.md
  docs/personalization/personalization.md
  docs/personalization/personalization_guide.md
  docs/pim/pim.md
  docs/pim/pim_guide.md
  docs/product_guides/product_guides.md
  docs/resources/new_in_doc.md
  docs/tutorials/page_and_form_tutorial/5_create_newsletter_form.md
  docs/users/user_management_guide.md
  mkdocs.yml
  plugins.yml
Labels: Needs DOC review
