Repository ibexa/documentation-developer, pull requests merged in 2024-02, with the labels that each got.

#2278 Make main menu references consistent
  docs/commerce/payment/payment_method_filtering.md
  docs/content_management/forms/create_form_attribute.md
  docs/content_management/pages/page_builder_guide.md
  docs/customer_management/customer_portal.md
  docs/multisite/set_up_translation_siteaccess.md
  docs/multisite/site_factory/site_factory.md
  docs/search/search_api.md
  docs/tutorials/beginner_tutorial/2_create_the_content_model.md
  docs/tutorials/beginner_tutorial/5_display_a_list_of_content_items.md
  docs/tutorials/beginner_tutorial/8_enable_account_registration.md
  docs/tutorials/generic_field_type/5_add_a_field.md
  docs/tutorials/generic_field_type/6_settings.md
  docs/tutorials/page_and_form_tutorial/5_create_newsletter_form.md
  docs/users/passwords.md
Labels: Needs DOC review

#2282 Updated doc changelog January 24
  docs/resources/new_in_doc.md
Labels: Needs DOC review

#2286 Described REST reference of cart/cart entry context
  docs/api/rest_api/rest_api_reference/input/examples/cart/POST/CartCreate.json.example
  docs/api/rest_api/rest_api_reference/input/examples/cart/entry/POST/CartEntryAdd.json.example
  docs/api/rest_api/rest_api_reference/input/ez-cart.raml
  docs/api/rest_api/rest_api_reference/input/ez-types.raml
Labels: Needs DOC review

#2281 Updates "Create custom view matcher"
  code_samples/front/view_matcher/config/packages/views.yaml
  code_samples/front/view_matcher/config/services.yaml
  code_samples/front/view_matcher/src/View/Matcher/Owner.php
  docs/templating/templates/create_custom_view_matcher.md
Labels: Ready for MERGE

#2285 Sort policies by functional areas
  docs/permissions/permission_use_cases.md
  docs/permissions/policies.md
Labels: Needs DOC review

#2290 Upgrade to 4.5.latest
  docs/update_and_migration/from_4.4/update_from_4.4.md
Labels: Ready for MERGE

#2244 IBX-7036: Customizable dashboard described in Developer documentation
  code_samples/back_office/dashboard/src/Command/DashboardCommand.php
  docs/administration/dashboard/configure_default_dashboard.md
  docs/administration/dashboard/customize_dashboard.md
  docs/administration/dashboard/php_api_dashboard_service.md
  docs/administration/img/dashboard_container_remote_id.png
  docs/administration/img/dashboard_container_type.png
  docs/administration/img/dashboard_content_type_identifier.png
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#2049 Release notes 4.6
  docs/getting_started/requirements.md
  docs/index.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/release_notes/img/4.6_activity_list.png
  docs/release_notes/img/4.6_catalog_vat_rates.png
  docs/release_notes/img/4.6_content_type_icons.png
  docs/release_notes/img/4.6_customizable_dashboard.png
  docs/release_notes/img/4.6_distraction_free_mode.png
  docs/release_notes/img/4.6_drafts.png
  docs/release_notes/img/4.6_editing_embedded_content_items.png
  docs/release_notes/img/4.6_focus_mode.png
  docs/release_notes/img/4.6_page_builder_interface.png
  docs/release_notes/img/4.6_publishing_options.png
  docs/release_notes/img/4.6_quick_order.png
  docs/release_notes/img/4.6_shipments.png
  docs/release_notes/img/4.6_site_selector.png
  docs/release_notes/img/4.6_sub_items_tab.png
  docs/release_notes/img/user_profile_preview.png
  docs/release_notes/release_notes.md
  mkdocs.yml
Labels: Needs DOC review

#2287 IBX-7139: Describe Actito transational emails integration
  docs/commerce/commerce.md
  docs/commerce/transactional_emails/extend_transactional_emails.md
  docs/commerce/transactional_emails/transactional_emails.md
  docs/commerce/transactional_emails/transactional_emails_parameters.md
  mkdocs.yml
Labels: Needs DOC review

#2293 Update enable_personalization.md
  docs/personalization/enable_personalization.md
Labels: Ready for MERGE

#2159 IBX-6742: Recent activity PHP API
  code_samples/recent_activity/config/append_to_services.yaml
  code_samples/recent_activity/src/ActivityLog/ClassNameMapper/MyFeatureNameMapper.php
  code_samples/recent_activity/src/Command/ActivityLogContextTestCommand.php
  code_samples/recent_activity/src/Command/DispatchMyFeatureEventCommand.php
  code_samples/recent_activity/src/Command/MonitorRecentContentCreationCommand.php
  code_samples/recent_activity/src/Event/MyFeatureEvent.php
  code_samples/recent_activity/src/EventSubscriber/MyFeatureEventSubscriber.php
  code_samples/recent_activity/src/EventSubscriber/MyFeaturePostActivityListLoadEventSubscriber.php
  code_samples/recent_activity/src/MyFeature/MyFeature.php
  code_samples/recent_activity/src/MyFeature/MyFeatureService.php
  code_samples/recent_activity/templates/themes/admin/activity_log/ui/default.html.twig
  code_samples/recent_activity/templates/themes/admin/activity_log/ui/my_feature/simulate.html.twig
  code_samples/recent_activity/translations/ibexa_activity_log.en.xlf
  docs/administration/recent_activity/activity_log_search.md
  docs/administration/recent_activity/recent_activity.md
  docs/search/activity_log_search_reference/action_criterion.md
  docs/search/activity_log_search_reference/activity_log_criteria.md
  docs/search/activity_log_search_reference/activity_log_sort_clauses.md
  docs/search/activity_log_search_reference/logged_at_criterion.md
  docs/search/activity_log_search_reference/object_criterion.md
  docs/search/activity_log_search_reference/object_name_criterion.md
  docs/search/activity_log_search_reference/user_criterion.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#2230 IBX-6624: Document Remote PIM
  code_samples/front/shop/storefront/config/packages/ibexa.yaml
  docs/commerce/storefront/extend_storefront.md
  docs/pim/add_remote_pim_support.md
  docs/pim/customize_pim.md
  docs/pim/img/diagrams_source/remote_pim_support.xml
  docs/pim/img/remote_pim_support.png
  docs/pim/pim_guide.md
  docs/pim/product_api.md
  docs/templating/twig_function_reference/product_twig_functions.md
  docs/templating/twig_function_reference/storefront_twig_functions.md
  mkdocs.yml
Labels: Needs DOC review

#2304 Updated avatar photo
  docs/release_notes/img/user_profile_preview.png
Labels: Ready for MERGE

#2295 Fix code snippet in first part of field type tutorial
  docs/tutorials/generic_field_type/1_implement_the_point2d_value_class.md
Labels: Ready for MERGE

#2305 Temporarily remove upgrade links from RN
  docs/index.md
  docs/release_notes/ibexa_dxp_v4.6.md
Labels: Needs DOC review

#2276 Upgrade from 4.5 to 4.6
  docs/update_and_migration/from_4.5/update_from_4.5.md
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#2313 3.3: Fix internal links
  docs/api/public_php_api_managing_content.md
  docs/api/rest_api_usage.md
  docs/community_resources/phpstorm_plugin.md
  docs/guide/admin_panel.md
  docs/guide/clustering.md
  docs/guide/file_management/binary_media_download.md
  docs/migrating/migrating_from_ez_publish_platform.md
Labels: Ready for MERGE

#2298 Update config file name in field type tutorial 4
  docs/tutorials/generic_field_type/4_introduce_a_template.md
Labels: Needs DOC review

#2315 Link to "how to customize dashboard" updated
  docs/administration/dashboard/customize_dashboard.md
Labels: Needs DOC review

#2316 Bump latest 4.6 variable
  mkdocs.yml
Labels: Needs DOC review, Wait with merge
