Repository ibexa/documentation-developer, pull requests merged in 2024-04, with the labels that each got.

#2338 IBX-5857: Fix tall right ToC
  docs/css/navigation.css
  docs/js/custom.js
Labels: Wait with merge, Ready for MERGE

#2350 Updated changelog March 2024
  docs/resources/new_in_doc.md
Labels: Needs DOC review

#2345 Fixed line numbers for Product Catalog migrations
  docs/content_management/data_migration/importing_data.md
Labels: Needs DOC review

#2332 Add a pre-render subscriber to custom block
  code_samples/page/custom_page_block/src/Event/Subscriber/BlockEmbedEventEventSubscriber.php
  docs/content_management/pages/create_custom_page_block.md
Labels: Ready for MERGE

#2331 IBX-7565: Custom block's UDW config
  code_samples/page/custom_page_block/config/packages/page_blocks.yaml
  code_samples/page/custom_page_block/templates/themes/standard/blocks/event/config.html.twig
  docs/content_management/pages/create_custom_page_block.md
  docs/content_management/pages/page_block_attributes.md
Labels: Ready for MERGE

#2347 Add redirect from contributing.md
  plugins.yml
Labels: Needs DOC review

#2348 Fix minor issues in http cache
  docs/infrastructure_and_maintenance/cache/http_cache/content_aware_cache.md
  docs/infrastructure_and_maintenance/cache/http_cache/context_aware_cache.md
  docs/infrastructure_and_maintenance/cache/http_cache/reverse_proxy.md
  docs/infrastructure_and_maintenance/cache/persistence_cache.md
Labels: Needs DOC review

#2325 "Update to 4.6" doc improvements
  docs/update_and_migration/from_2.5/update_from_2.5.md
  docs/update_and_migration/from_4.5/update_from_4.5.md
  docs/update_and_migration/update_ibexa_dxp.md
Labels: Needs DOC review

#2314 IBX-5705: OAuth server
  code_samples/user_management/oauth_google/config/custom_services.yaml
  code_samples/user_management/oauth_google/config/packages/knpu_oauth2_client.yaml
  code_samples/user_management/oauth_google/config/packages/security.yaml
  docs/administration/project_organization/bundles.md
  docs/ibexa_products/headless.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/templating/twig_function_reference/url_twig_functions.md
  docs/users/add_login_through_external_service.md
  docs/users/diagram_source/oauth2-client.drawio
  docs/users/diagram_source/oauth2-server.drawio
  docs/users/img/log_in_via_google.png
  docs/users/img/oauth2-client.png
  docs/users/img/oauth2-server.png
  docs/users/oauth_authentication.md
  docs/users/oauth_client.md
  docs/users/oauth_server.md
  docs/users/user_management_guide.md
  docs/users/users.md
  mkdocs.yml
  plugins.yml
Labels: Needs DOC review

#2353 IBX-6692: `ibexa_get_anonymous_user_id` Twig helper added
  docs/templating/twig_function_reference/storefront_twig_functions.md
Labels: Needs DOC review

#2354 IBX-7739: `ibexa_site_context_aware` Twig helper added
  docs/templating/twig_function_reference/site_context_twig_functions.md
  docs/templating/twig_function_reference/twig_function_reference.md
  mkdocs.yml
Labels: Needs DOC review

#2355 Security checklist: File system permissions
  docs/infrastructure_and_maintenance/security/security_checklist.md
Labels: Ready for MERGE

#2309 Add instructions for making block attribute required with custom validator
  code_samples/page/custom_block_validator/src/Form/Extension/AttributeTypeExtension.php
  docs/content_management/pages/page_block_validators.md
Labels: Ready for MERGE

#2337 Update update_from_4.2.md
  docs/update_and_migration/from_4.2/update_from_4.2.md
Labels: Needs DOC review, Needs DEV review

#2360 Rename ez*.raml to ibexa*.raml
  README.md
  docs/api/rest_api/rest_api_reference/input/ez.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-bookmark.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-calendar.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-cart.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-commerce.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-assets.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-binary.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-locations.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-objects.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-sections.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-trash.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-typegroups.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-types.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-urlaliases.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-urlwildcards.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-content-views.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-corporate.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-languages.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-objectstategroups.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-orders.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-payment-methods.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-attributegroups.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-attributes.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-attributetypes.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-catalogs.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-currency.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-customergroups.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-products.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-producttypes.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-productvariant.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-productvariants.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-regions.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-product-vat.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-root.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-services.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-shipments.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-shipping.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-taxonomy.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-types.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-current.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-groups.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-policies.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-roles.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-sessions.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-token.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-user-users.raml
  docs/api/rest_api/rest_api_reference/input/ibexa-views.raml
  docs/api/rest_api/rest_api_reference/input/ibexa.raml
  tools/raml2html/README.md
Labels: Needs DOC review

#2222 IBX-6878: Customize BO search suggestions
  code_samples/back_office/search/append_to_webpack.config.js
  code_samples/back_office/search/assets/js/admin.search.autocomplete.product.js
  code_samples/back_office/search/config/append_to_services.yaml
  code_samples/back_office/search/src/EventSubscriber/MySuggestionEventSubscriber.php
  code_samples/back_office/search/src/Search/Model/Suggestion/ProductSuggestion.php
  code_samples/back_office/search/src/Search/Serializer/Normalizer/Suggestion/ProductSuggestionNormalizer.php
  code_samples/back_office/search/templates/themes/admin/ui/global_search_autocomplete_product_item.html.twig
  code_samples/back_office/search/templates/themes/admin/ui/global_search_autocomplete_product_template.html.twig
  docs/administration/back_office/customize_search_suggestion.md
  mkdocs.yml
Labels: Ready for MERGE

#2226 IBX-6878: Customize search sorting
  code_samples/back_office/search/config/append_to_services.yaml
  code_samples/back_office/search/src/Search/SortingDefinition/Provider/SectionNameSortingDefinitionProvider.php
  code_samples/back_office/search/translations/messages.en.yaml
  docs/administration/back_office/customize_search_sorting.md
  docs/administration/back_office/customize_search_suggestion.md
  mkdocs.yml
Labels: Ready for MERGE

#2363 Fixes in "CDP data export schedule" page
  docs/cdp/cdp_data_export_schedule.md
Labels: Needs DOC review

#2317 IBX-5413: Ibexa CDP product guide added in Developer documentation
  docs/cdp/cdp_guide.md
  docs/cdp/img/audience_builder.png
  docs/cdp/img/cdp_how_works.png
  docs/cdp/img/customer_profile.png
  mkdocs.yml
Labels: Needs DOC review, Needs DEV review

#2369 [Elasticsearch] Added mention of NullGroupResolver
  docs/search/extensibility/customize_elasticsearch_index_structure.md
Labels: Needs DOC review
