Repository ibexa/documentation-developer, pull requests merged in 2025-04, with the labels that each got.

#2678 [3.3] Downgraded PHP Version for the Code Styles job
  .github/workflows/build.yaml
  code_samples/back_office/image_editor/src/AdditionalInformation.php
Labels: Needs DOC review

#2685 New in doc: March 2025
  docs/ai_actions/ai_actions_guide.md
  docs/ai_actions/install_ai_actions.md
  docs/resources/new_in_doc.md
  docs/templating/twig_function_reference/content_twig_functions.md
Labels: Needs DOC review

#2693 Fixed link to SiteAccess-aware settings
  docs/content_management/file_management/file_url_handling.md
Labels: Needs DOC review

#2687 [Content events] Fixed formatting
  docs/api/event_reference/content_events.md
Labels: Needs DOC review

#2696 Added description of the grace period
  docs/administration/configuration/repository_configuration.md
Labels: Wait with merge

#2695 Fixed broken anchor
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/snippets/release_46.md
Labels: Needs DOC review

#2699 Fix "API Token" link's anchor
  docs/ai_actions/ai_actions_guide.md
Labels: Needs DOC review

#2694 Added mention about LTS updates in the update doc
  docs/getting_started/install_ibexa_dxp.md
  docs/infrastructure_and_maintenance/security/reporting_issues.md
  docs/infrastructure_and_maintenance/security/security_checklist.md
  docs/resources/contributing/report_and_follow_issues.md
  docs/resources/release_process_and_roadmap.md
  docs/snippets/update/notify_support.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
Labels: Needs DOC review

#2617 IBX-8674: Improve product completeness and attribute definitions
  docs/pim/pim_guide.md
  docs/pim/products.md
  docs/release_notes/ibexa_dxp_v4.2.md
Labels: Needs DOC review

#2642 IBX-9594: Describe creating a custom DAM connector
  code_samples/back_office/images/config/packages/views.yaml
  code_samples/back_office/images/config/services.yaml
  code_samples/back_office/images/src/Connector/Dam/Handler/WikimediaCommonsHandler.php
  code_samples/back_office/images/src/Connector/Dam/Transformation/WikimediaCommonsTransformationFactory.php
  code_samples/back_office/images/templates/themes/standard/commons_asset_view.html.twig
  code_samples/back_office/images/translations/ibexa_fieldtypes_preview.en.yaml
  composer.json
  docs/administration/back_office/add_user_setting.md
  docs/administration/back_office/back_office_elements/formatting_date_and_time.md
  docs/commerce/storefront/extend_storefront.md
  docs/content_management/images/add_image_asset_from_dam.md
  docs/content_management/images/images.md
  docs/update_and_migration/from_3.3/update_from_3.3.md
Labels: Needs DOC review

#2704 Release notes: added missing title
  docs/release_notes/ibexa_dxp_v4.6.md
Labels: Needs DOC review

#2707 IBX-9621: Add permissions to Connect configuration
  docs/ai_actions/img/connect_api_token.png
  docs/ai_actions/install_ai_actions.md
Labels: Needs DOC review

#2716 Add PHP API Ref to preview comment
  .github/workflows/preview_comment.yaml
Labels: Ready for MERGE

#2718 Added mention about using Webpack encore and assets to add custom CSS styles
  docs/content_management/rich_text/extend_online_editor.md
Labels: Needs DOC review

#2722 GitHub: Move code jobs to own file
  .github/workflows/build.yaml
  .github/workflows/code_samples.yaml
Labels: Ready for MERGE
