Repository ibexa/documentation-developer, pull requests merged in 2025-08, with the labels that each got.

#2856 Combine latest and 5.0 entries in the switcher
  docs/js/custom.js
Labels: Needs DOC review

#2863 Removed duplicated ibexa from header
  docs/release_notes/ibexa_dxp_v5.0_deprecations.md
Labels: Needs DOC review

#2790 Added new Twig Component group
  docs/administration/back_office/back_office_elements/custom_components.md
Labels: Wait with merge, Ready for MERGE

#2525 IBX-9147: Symbol attribute type described in Developer Documentation - v4.6
  code_samples/back_office/search/src/Query/SymbolAttributeTypeQuery.php
  code_samples/pim/Symbol/Format/Checksum/LuhnChecksum.php
  code_samples/symbol_attribute/config/mysql/symbol_attribute.sql
  code_samples/symbol_attribute/config/postgresql/symbol_attribute.sql
  composer.json
  docs/ibexa_products/editions.md
  docs/pim/attributes/symbol_attribute_type.md
  docs/search/criteria_reference/product_search_criteria.md
  docs/search/criteria_reference/symbolattribute_criterion.md
  mkdocs.yml
Labels: Wait with merge

#2851 Update 4.6.22
  docs/update_and_migration/from_4.6/update_from_4.6.md
Labels: Needs DOC review

#2865 Updated the list of bundles
  docs/administration/project_organization/bundles.md
Labels: Needs DOC review
