Repository ibexa/documentation-developer, pull requests merged in 2025-09, with the labels that each got.

#2892 New in doc: August 2025
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/release_notes/ibexa_dxp_v5.0.md
  docs/resources/new_in_doc.md
Labels: Needs DOC review

#2898 5.0.2 & 4.6.24 releases
  docs/index.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/release_notes/ibexa_dxp_v5.0.md
  docs/release_notes/img/502_ai_connector_gpt_50.png
  docs/release_notes/img/502_notifications_screen.png
  docs/update_and_migration/from_4.6/update_from_4.6.md
  docs/update_and_migration/from_5.0/update_from_5.0.md
  mkdocs.yml
Labels: Work in progress

#2901 Add Collaboration to LTS area of the landing page in 4.6
  docs/index.md
Labels: Needs DOC review

#2889 Adjusted automated translation code sample and highlight
  code_samples/multisite/automated_translation/src/AutomatedTranslation/AiClient.php
  docs/multisite/languages/automated_translations.md
Labels: Wait with merge
