Repository ibexa/documentation-developer, pull requests merged in 2025-03, with the labels that each got.

#2644 Adjusted phpstan
  code_samples/api/rest_api/src/Rest/Output/ValueObjectVisitorDispatcher.php
  composer.json
  phpstan-baseline.neon
Labels: Needs DOC review

#2540 Enhance search doc: `TrashService` references, `LocationList::getTotalCount()`
  code_samples/api/public_php_api/src/Command/FilterLocationCommand.php
  docs/search/criteria_reference/search_criteria_reference.md
  docs/search/search_api.md
  docs/search/search_in_trash_reference.md
  docs/search/sort_clause_reference/sort_clause_reference.md
Labels: Ready for MERGE

#2609 Added information about Date and Time attribute
  code_samples/back_office/search/src/Query/DateTimeAttributeQuery.php
  code_samples/back_office/search/src/Query/DateTimeAttributeRangeQuery.php
  code_samples/data_migration/examples/create_datetime_attribute.yaml
  composer.json
  docs/content_management/data_migration/importing_data.md
  docs/index.md
  docs/pim/attributes/date_and_time.md
  docs/pim/attributes/img/datetime.png
  docs/pim/products.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/resources/release_process_and_roadmap.md
  docs/search/criteria_reference/datetimeattribute_criterion.md
  docs/search/criteria_reference/datetimeattributerange_criterion.md
  docs/search/criteria_reference/product_search_criteria.md
  mkdocs.yml
Labels: Needs DOC review, Wait with merge

#2414 IBX-7912: Describe automated translation feature
  code_samples/multisite/automated_translation/config/services.yaml
  code_samples/multisite/automated_translation/src/AutomatedTranslation/AiClient.php
  code_samples/multisite/automated_translation/src/AutomatedTranslation/ImageFieldEncoder.php
  code_samples/multisite/automated_translation/src/AutomatedTranslation/TranslateAction.php
  composer.json
  docs/multisite/languages/automated_translations.md
  mkdocs.yml
Labels: Needs DOC review

#2655 Specified the minimum required version for AI Actions
  docs/ai_actions/ai_actions_guide.md
  docs/ai_actions/install_ai_actions.md
Labels: Needs DOC review

#2654 PHPStan: Upgrade to 2.0
  composer.json
  phpstan-baseline.neon
Labels: Needs DOC review

#2673 Remove ambiguity between SKUs and product codes.
  docs/commerce/cart/quick_order.md
  docs/commerce/transactional_emails/transactional_emails_parameters.md
  docs/content_management/content_management_guide.md
  docs/content_management/field_types/field_type_storage.md
  docs/update_and_migration/from_4.5/update_from_4.5.md
Labels: Needs DOC review

#2640 Added CentOS&RHEL9 Stream to the requirements
  docs/getting_started/requirements.md
Labels: Needs DOC review

#2672 Fix tab style
  docs/css/custom.css
Labels: Needs DOC review

#2670 Added "Non-Breaking Space" example
  docs/content_management/rich_text/extend_online_editor.md
Labels: Needs DOC review

#2659 IBX-4064: Enh search page nav
  docs/css/instantsearch.css
Labels: Ready for MERGE

#2668 Remove 3.3 unused files
  docs/api/field_types_reference/xmltextfield.md
  docs/guide/users/user_management.md
Labels: Ready for MERGE

#2676 Fixed YAML indent for login methods
  docs/users/login_methods.md
Labels: Needs DOC review

#2675 Fixed broken link
  docs/content_management/content_model.md
Labels: Needs DOC review

#2660 New in doc: February 2025
  docs/content_management/forms/form_builder_guide.md
  docs/content_management/images/images.md
  docs/content_management/pages/page_builder_guide.md
  docs/content_management/rich_text/extend_online_editor.md
  docs/getting_started/requirements.md
  docs/ibexa_cloud/ddev_and_ibexa_cloud.md
  docs/ibexa_cloud/install_on_ibexa_cloud.md
  docs/infrastructure_and_maintenance/cache/http_cache/fastly.md
  docs/multisite/languages/automated_translations.md
  docs/resources/new_in_doc.md
  docs/search/criteria_reference/isuserenabled_criterion.md
  docs/search/criteria_reference/search_criteria_reference.md
  docs/search/search_in_trash_reference.md
  docs/search/sort_clause_reference/sort_clause_reference.md
  docs/templating/twig_function_reference/icon_twig_functions.md
  docs/update_and_migration/from_3.3/to_4.0.md
Labels: Needs DOC review

#2681 [Date and time] Specified minimum version supported
  docs/pim/attributes/date_and_time.md
Labels: Needs DOC review

#2652 Release notes + homepage redesign
  .eslintignore
  docs/ai_actions/ai_actions_guide.md
  docs/css/front-page.css
  docs/css/release-notes.css
  docs/ibexa_products/editions.md
  docs/images/background-gradient.svg
  docs/images/filters.svg
  docs/images/icons.svg
  docs/images/notification-latest-release.svg
  docs/images/notification-lts-update.svg
  docs/index.md
  docs/js/release-notes.js
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/snippets/release_46.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
  main.py
  mkdocs.yml
  package.json
  scss/_variables.scss
  scss/front-page.scss
  scss/release-notes.scss
Labels: Needs DOC review

#2683 [Release notes] Fixed link to "duplicate AI actions"
  docs/release_notes/ibexa_dxp_v4.6.md
Labels: Needs DOC review

#2684 ContentAwareInterface support added for `ibexa_render` function
  docs/templating/twig_function_reference/content_twig_functions.md
Labels: Needs DOC review
