Repository ibexa/documentation-developer, pull requests merged in 2025-05, with the labels that each got.

#2726 Fixed variable
  docs/ai_actions/install_ai_actions.md
Labels: Needs DOC review

#2733 Added missing token scopes
  docs/ai_actions/install_ai_actions.md
Labels: Needs DOC review

#2734 Add missing return types
  code_samples/api/rest_api/src/Rest/InputParser/GreetingInput.php
  code_samples/api/rest_api/src/Rest/ValueObjectVisitor/RestLocation.php
  phpstan-baseline.neon
Labels: Needs DOC review

#2727 Improved wording for TaxonomyEntry
  docs/content_management/field_types/field_type_reference/field_type_reference.md
  docs/content_management/field_types/field_type_reference/taxonomyentryfield.md
Labels: Needs DOC review

#2742 Fix search result missing space
  docs/css/instantsearch.css
Labels: Ready for MERGE

#2723 IBX-9904: Workflow to build API refs into new PR
  .github/workflows/api_refs.yaml
Labels: Ready for MERGE

#2633 mkdocs.yml: dev 5.0 → user 5.0
  mkdocs.yml
Labels: Ready for MERGE

#2749 [Links] Converted links to 4.6 from main
  composer.json
  docs/administration/back_office/back_office_configuration.md
  docs/administration/back_office/back_office_elements/custom_components.md
  docs/administration/back_office/back_office_elements/extending_thumbnails.md
  docs/administration/back_office/back_office_elements/importing_assets_from_bundle.md
  docs/administration/back_office/back_office_tabs/back_office_tabs.md
  docs/administration/back_office/subitems_list.md
  docs/api/graphql/graphql_custom_ft.md
  docs/api/php_api/php_api.md
  docs/content_management/field_types/field_type_reference/richtextfield.md
  docs/content_management/field_types/field_type_search.md
  docs/content_management/field_types/field_type_storage.md
  docs/content_management/field_types/field_types.md
  docs/content_management/field_types/form_and_template.md
  docs/content_management/field_types/type_and_value.md
  docs/content_management/file_management/file_management.md
  docs/content_management/images/images.md
  docs/content_management/rich_text/extend_online_editor.md
  docs/content_management/url_management/url_management.md
  docs/getting_started/install_with_ddev.md
  docs/infrastructure_and_maintenance/cache/http_cache/reverse_proxy.md
  docs/infrastructure_and_maintenance/cache/persistence_cache.md
  docs/infrastructure_and_maintenance/performance.md
  docs/infrastructure_and_maintenance/security/development_security.md
  docs/multisite/languages/languages.md
  docs/personalization/enable_personalization.md
  docs/release_notes/ibexa_dxp_v4.0_deprecations.md
  docs/search/criteria_reference/contentname_criterion.md
  docs/search/search_api.md
  docs/search/search_criteria_and_sort_clauses.md
  docs/templating/layout/add_forgot_password_option.md
  docs/templating/layout/customize_storefront_layout.md
  docs/templating/queries_and_controllers/built-in_query_types.md
Labels: Needs DOC review

#2741 Marked Dashboard as Experience feature and mentioned Twig Components
  docs/administration/dashboard/configure_default_dashboard.md
  docs/administration/dashboard/customize_dashboard.md
  docs/administration/dashboard/php_api_dashboard_service.md
  docs/templating/components.md
Labels: Needs DOC review

#2751 5.0 requirements and installation
  docs/getting_started/install_ibexa_dxp.md
  docs/getting_started/requirements.md
  mkdocs.yml
Labels: Needs DOC review

#2753 Added information about ibexa:install prompting for new password
  docs/getting_started/first_steps.md
  docs/getting_started/install_ibexa_dxp.md
  docs/infrastructure_and_maintenance/security/security_checklist.md
  docs/tutorials/beginner_tutorial/2_create_the_content_model.md
  docs/tutorials/generic_field_type/5_add_a_field.md
  docs/tutorials/page_and_form_tutorial/1_get_a_starter_website.md
Labels: Needs DOC review

#2752 Described existing LTS updates as built-in into product
  docs/ai_actions/ai_actions.md
  docs/ai_actions/ai_actions_guide.md
  docs/ai_actions/configure_ai_actions.md
  docs/ai_actions/extend_ai_actions.md
  docs/content_management/data_migration/importing_data.md
  docs/ibexa_products/editions.md
  docs/index.md
  docs/pim/attributes/date_and_time.md
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/resources/new_in_doc.md
  mkdocs.yml
  plugins.yml
Labels: Needs DOC review

#2759 [Orders] Added other links to PHP API Reference
  docs/commerce/order_management/order_management_api.md
Labels: Needs DOC review

#2746 Mentioned custom properties for Ibexa Connect
  docs/ai_actions/configure_ai_actions.md
  docs/ai_actions/extend_ai_actions.md
Labels: Wait with merge, Ready for MERGE

#2750 Requirements update
  docs/getting_started/requirements.md
Labels: Wait with merge, Ready for MERGE

#2761 Release notes: 4.6.20
  docs/release_notes/ibexa_dxp_v4.6.md
  docs/update_and_migration/from_4.6/update_from_4.6.md
  mkdocs.yml
Labels: Needs DOC review
